<h2>系統軟體變更表單</h2>
<form>
    <div class="row">
        <div class="col-md-5">
            @*
                <p>測試用訊息({{m.message}})</p>

                <button ng-click="m.requestSoftwareList()">取得軟體相關資料</button>

                <br />
            *@

            <label><span class="lable label-warning">Step 1</span> 選擇欲變更軟體</label>


            <br />
            <label class="control-label">軟體名稱:</label>
            <select ng-options="s.SoftwareName for s in m.softwareList track by s.FoxSoftwareId" ng-model="m.softwareSelect"
                    ng-change="m.getSelectedWorkstationList(m.softwareSelect)"
                    class="form-control"></select>

            <hr />
            <label><span class="lable label-warning">Step 3</span> 填寫資料及確認修改清單</label>
            <br />

            <div>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>軟體名稱</th>
                        <th>原建置版本</th>
                        <th>欲變更版本</th>
                        <th>影響工作站</th>
                    </tr>

                    <tr ng-repeat="item in m.modList" class="addNewRevItem">
                        <td>{{item.RevInfos[0].SoftwareName}}</td>
                        <td>{{item.OriginalValue}}</td>
                        <td>{{item.NewValue}}</td>
                        <td>
                            <ul class="unstyled-list" ng-repeat="wk in item.RevInfos">
                                <li ng-bind="wk.WorkStationName"></li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-default" ng-click="m.clearModList()">清空修改清單</button>
            </div>

            <div>
                <label class="control-label">表單編號: (系統自動產生)</label>
                <br />
                <label class="control-label">軟體修改簡述:</label>
                <input type="text" ng-model="m.changeRequestData.Description" class="form-control" />
                <br />

                <label class="control-label">變更說明:</label>
                <textarea class="form-control" rows="3" ng-model="m.changeRequestData.Note"></textarea>
            </div>

            <div>
                <br />
                <a href="#/confirm" class="btn btn-primary" ng-click="m.postModList()">送出</a>
            </div>

            <hr />


            @*
                <label>(測試AngularJS語法用)工作站名稱</label>
                <input type="text" ng-model="m.newWorkstation.WorkStationName" required />
                <button ng-click="m.addNewWorkStation(m.newWorkStation)">新增(測試$http服務)</button>
            *@
        </div>
        <div class="col-md-5">
            <label><span class="lable label-warning">Step 2</span> 填寫變更軟體版本及選擇相關工作站(請先選擇欲修改之軟體名稱)</label>
            <div class="revDataAnimate" ng-repeat="d in m.data">
                <label>目前建置版本:{{d.OriginalValue}}</label>
                <br />
                <label>欲變更修改版本:</label>
                <input type="text" ng-model="d.newValue" />
                <input type="button" ng-click="m.addToModList(d.OriginalValue,d.newValue, d.RevInfos)" value="加入修改" />
                <br />
                <h4>影響工作站</h4>
                @*
                    <button class="btn btn-default" ng-click="m.getWorkstationsByRev(d)">顯示</button>
                *@
                <span ng-repeat="wk in d.RevInfos">
                    <input type="checkbox" id="{{wk.WorkStationId}}" ng-model="wk.isChecked"
                           ng-click="m.removeWKFromChange(d.RevInfos, wk)" />{{wk.WorkStationName}}
                    <br ng-if="m.isDividedByFive($index)" />
                </span>

                <hr />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
            @*
                <div>
                    <label>相關工作站:</label>
                    <br />
                    <span ng-repeat="wk in m.allWorkstations track by wk.WorkStationId">
                        <input type="checkbox" id="{{wk.WorkStationId}}" ng-model="wk.isChecked"
                               ng-change="m.showChecked(wk)" />{{wk.WorkStationName}}
                        <br ng-if="m.isDividedByFive($index)" />
                    </span>
                    <hr />
            *@


            @*
                </div>
                @for (int i = 0; i < Model.Count(s => s.WorkStationName.Contains("AW")); i++)
                    {
                        <input type="checkbox" id="@Model[i].WorkStationId" value="@Model[i].WorkStationId"/>@Model[i].WorkStationName
                        if ((i + 1)%5 == 0)
                        {
                            <br/>
                        }
                    }
            *@
        </div>
    </div>
</form>
