@{
    ViewBag.Title = "系統軟體修改表單";
}


<div ng-app="simpleApp" ng-controller="MainCtrl as m">
    <div ng-view></div>

</div>
@*
    <div>
        <label>原建置值:</label>
        <label ng-bind="m.selectedSoftwareRev">請選擇軟體</label>
        <br />
        <label>欲變更數值</label>
        <input type="text" ng-model="m.newRevValue" />
        <br />
        <button ng-click="m.modifyRev(m.softwareSelect, m.newRevValue)">更新</button>
    </div>
*@

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/js/angularApp.js"></script>
}

