<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">

    
      <add name="ChangeProcessData" providerName="System.Data.SqlClient" connectionString="Server=10.20.1.4\SQLEXPRESS04; Database=LungmenChangeProcessData; User=sa;Password=LGA2011" />
      <add name="ASPIdentity" connectionString="Data Source=10.20.1.4\SQLEXPRESS04;Initial Catalog=LungmenIdentityData;User=sa;Password=LGA2011" providerName="System.Data.SqlClient" />
      <add name="NUMACFirmware" connectionString="Data Source=10.20.1.4\SQLEXPRESS04;Initial Catalog=NumacFirmware;User=sa;Password=LGA2011" providerName="System.Data.SqlClient" />
      <add name="NumacDataStore" connectionString="Data Source=10.20.1.4\SQLEXPRESS04;Initial Catalog=NUMACData;User=sa;Password=LGA2011" providerName="System.Data.SqlClient" />
      <add name="DrsDataStore" connectionString="Data Source=10.20.1.4\SQLEXPRESS04;Initial Catalog=DRSData;User=sa;Password=LGA2011" providerName="System.Data.SqlClient" />
      <add name="LungmenSoftwareDataEntities" connectionString="metadata=res://*/Models.Invensys.csdl|res://*/Models.Invensys.ssdl|res://*/Models.Invensys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.1.4\SQLEXPRESS04;initial catalog=LungmenSoftwareData;persist security info=True;user id=sa;password=LGA2011;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <system.web>
   <!-- <compilation xdt:Transform="RemoveAttributes(debug)" />
    
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
