
@{
    ViewBag.Title = "DRS EPROM版本清單";
}

<h2>DRS FID版本清單</h2>

<hr/>

 <!--[if IE 9]>
   <style>
     .ui-grid-header-cell-wrapper {
       display: block;
     }
 
     .ui-grid-header-cell-row {
       display: block;
     }
 
     .ui-grid-header-cell {
       display: block;
       float: left;
     }
   </style>
 <![endif]-->

<div class="row" ng-app="drsApp" ng-controller="drsDataGridCtrl as n">
    <div class="col-md-12" >
        <button id='toggleFiltering' style="margin-bottom:20px" ng-click="n.toggleFiltering()" class="btn btn-success"><span ng-bind="n.searchTextToggle"></span>簡易搜尋</button>
        <div id="drsDataGrid" ui-grid="n.gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-autoresize>
        </div>
    </div>  
    <hr>
    <div class="col-md-12" ng-if="n.crRecords">
        <h3>變更歷史紀錄</h3>
         <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                
                <th>FID Diagram</th>
                <th>System</th>
                <th>Panel</th>
                <th>Description</th>             
                <th>Serial Number</th>
                <th>Program</th>
                <th>Revision</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in n.crRecords track by m.ModuleBoardId">

                <td>{{c.ModuleBoardName}}</td>
                <td>{{c.SocketLocation}}</td>
                <td>
                    <div>建置值: {{c.OriAssembly}}</div>
                    <div>變更值: {{c.item.Assembly}}</div>
                </td>
                <td>
                    <div>建置值: {{c.OriSerialNumber}}}</div>
                    <div>變更值: {{c.SerialNumber}}</div>
                </td>
                <td>{{m.Program}}
                    <div>建置值: {{c.OriProgam}}}</div>
                    <div>變更值: {{c.Program}}</div>
                </td>
                <td>{{m.Rev}}
                    <div>建置值: {{c.OriRev}}}</div>
                    <div>變更值: {{c.Rev}}</div>
                </td>
                
            </tr>
        </tbody>
    </table>
    </div>
</div>



@section scripts{
    

    <script src="~/client/drsApp.js"></script>
    <script src="~/client/services/drsDataService.js"></script>
    <script src="~/client/controller/drsDataGridController.js"></script>
    

}

