@{
    ViewBag.Title = "重設密碼成功";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        密碼已變更，@Html.ActionLink("請按此登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
