@{
    ViewBag.Title = "帳號啟用成功!";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        帳號啟用成功! @Html.ActionLink("請按此登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
