@{
    ViewBag.Title = "重設密碼Email已寄出";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        請至您的信箱收信，並點選信中連結以重設密碼。
    </p>

    <p>
        <a href="@ViewBag.PWResetLink" class="btn btn-danger">(測試用)重設密碼</a>
    </p>
</div>
	
