
@{
    ViewBag.Title = "AngularForm";
}


<div ng-app="myApp">
    <div ng-controller="formCtrl as ctrl">
        <h2>AngularForm</h2>
        <h4 ng-bind="ctrl.message"></h4>
        <form ng-submit="ctrl.submit()" name="myform">
            <input type="text" ng-model="ctrl.username" />
            <input type="password" ng-model="ctrl.password" />
            <input type="submit" value="Submit" ng-disabled="myform.$invaild" />
        </form>    
    </div>

    <div ng-controller="routeCtrl as route">
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/second">Second</a></li>
            <li><a href="#/third">Third</a></li>
        </ul>
        <div ng-view></div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>

    <script>
        angular.module('myApp', ['ngRoute', 'ui.grid', 'ui.grid.resizeColumns'])
            .controller('formCtrl', [
                function() {
                    var vm = this;
                    vm.message = "Waiting User Input";
                    vm.submit = function() {
                        vm.message = "Form Submitted....";
                    }
                }
            ])
            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider.when('/', {
                    templateUrl: "/angular/home",
                    controller:"routeCtrl as route"
                    
                    })
                    .when('/second', {
                        templateUrl: "/angular/second",
                        controller:"routeCtrl as route"
                    })
                    .when('/third', {
                        templateUrl: "/angular/third",
                        controller: "routeCtrl as route"
                    })
                    .otherwise({ redirectTo: '/' });
            }])
           .factory('dataService', ['$http', function($http) {
                    
                    function getSoftwareList() {
                        return $http.get('/foxsoftwares/GetJsonSoftwareList');
                    }

                    return {
                        getSoftwareList: getSoftwareList
                    };
                }])
           .controller('routeCtrl', ['dataService',function() {
               var vm = this;
               vm.message = "Hello!Angular Routing.....";
               
                }])
           .controller('gridCtrl', ['dataService','$http','$log',function (dataService,$http, $log) {
               var vm = this;
               vm.message = "Waiting For Data From Server";
               vm.data = {};
               vm.gridOptions = {};
               $log.info(dataService.getSoftwareList());
               $log.info(dataService.getSoftwareList);
               dataService.getSoftwareList().then(function(response) {
                   vm.gridOptions.data = response.data;
               }, function(errResponse) {
                   log.info(errResponse);
               });
                 
           }])
            .animation('.pageChange', function() {
                    return {
                        addClass: function(element, className, done) {
                            
                        },
                        removeClass: function (element, className, done) {
                            
                        }
                    }
                })
        ;
    </script>
}
