@model List<LungmenSoftware.Models.FoxWorkStation>

@{
    ViewBag.Title = "AngularJS 系統軟體修改表單";
}

<h2>AngularJS 系統軟體變更表單</h2>

<div ng-app="simpleApp" ng-controller="MainCtrl as m">
    <form>
        <div class="row">
            <div class="col-md-5">
                <p>{{m.message}}</p>
                @*
                    <button ng-click="m.requestSoftwareList()">取得軟體相關資料</button>

                    <br />
                *@
                <label>軟體名稱:</label>
                <select ng-options="s.SoftwareName for s in m.softwareList track by s.FoxSoftwareId" ng-model="m.softwareSelect"
                        ng-change="m.getSelectedWorkstationList(m.softwareSelect)"></select>

                <hr/>
                <label>修改清單</label>
                <div>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Item</th>
                            <th>原建置版本</th>
                            <th>欲建置版本</th>
                        </tr>

                        <tr ng-repeat="item in m.modList">
                            <td>{{$index+1}}</td>
                            <td>{{item.Rev}}</td>
                            <td>{{item.NewRev}}</td>
                        </tr>
                    </table>
                </div>
                <hr/>
                <button class="btn btn-default" ng-click="m.clearModList()">清空修改清單</button>
               <button class="btn btn-primary" ng-click="m.postModList()">送出</button>
                
                @*
                    <form name="AddForm" ng-submit="m.addNewWorkStation()">
                        <label>工作站名稱</label>
                        <input type="text" ng-model="m.newWorkstation.WorkStationName" required />
                        <button ng-click="m.addNewWorkStation(m.newWorkStation)">新增(測試)</button>
                        <input type="submit" value="新增工作站" ng-disabled="addForm.$invalid" />
                    </form>
                *@
            </div>
            <div class="col-md-5">
                <div ng-repeat="d in m.data">
                    <label>目前建置版本:{{d.Rev}}</label>
                    <br/>
                    <label>欲變更修改版本:</label>
                    <input type="text" ng-model="d.newRev" />
                    <input type="button" ng-click="m.addToModList(d.Rev,d.newRev, d.JoinTableData)" value="加入修改"/>
                    <br/>
                    <h4>影響工作站</h4>

                    
                    
                    @*
    <button class="btn btn-default" ng-click="m.getWorkstationsByRev(d)">顯示</button>
                    *@
                    <span ng-repeat="wk in d.JoinTableData">
                        <input type="checkbox" id="{{wk.WorkStationId}}" ng-model="wk.isChecked"
                               ng-change="m.removeWKFromChange(d.JoinTableData, $index)" />{{wk.WorkStationName}}
                        <br ng-if="m.isDividedByFive($index)" />
                    </span>
                    
                    

                    <hr />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-5">
                @*
                    <div>
                        <label>相關工作站:</label>
                        <br />
                        <span ng-repeat="wk in m.allWorkstations track by wk.WorkStationId">
                            <input type="checkbox" id="{{wk.WorkStationId}}" ng-model="wk.isChecked"
                                   ng-change="m.showChecked(wk)" />{{wk.WorkStationName}}
                            <br ng-if="m.isDividedByFive($index)" />
                        </span>
                        <hr />
                *@
                
           
                @*
                </div>
                @for (int i = 0; i < Model.Count(s => s.WorkStationName.Contains("AW")); i++)
                    {
                        <input type="checkbox" id="@Model[i].WorkStationId" value="@Model[i].WorkStationId"/>@Model[i].WorkStationName
                        if ((i + 1)%5 == 0)
                        {
                            <br/>
                        }
                    }
                *@
        </div>
</div>
    </form>
    @Html.ActionLink("取得工作站清單","GetWorkStationsBySoftId", "FoxSoftwares")
</div>
@*
    <div>
        <label>原建置值:</label>
        <label ng-bind="m.selectedSoftwareRev">請選擇軟體</label>
        <br />
        <label>欲變更數值</label>
        <input type="text" ng-model="m.newRevValue" />
        <br />
        <button ng-click="m.modifyRev(m.softwareSelect, m.newRevValue)">更新</button>
    </div>
*@

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/angularApp.js"></script>
}

